*{
  background-color: #381E56;
}
hr { background-color: black; height: 1px; border: 0; }

.blockstyle {
  
  border: solid black 2px;
  text-transform: capitalize;
  background-color: slategray;
}
.bgcolor{
  background-color:slategray;
}